* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Arial, Helvetica, sans-serif;
}

body {
  background: #faf5ff;
  color: black;
}

nav {
  background: #000291;
  padding: 15px 30px;
  display: flex;
  justify-content: space-between;
  position: sticky;
  top: 0;
}

nav h2 {
  color: white;
  font-weight: bold;
}

nav ul {
  list-style: none;
  display: flex;
  gap: 20px;
}

nav ul a {
  text-decoration: none;
  color: white;
  font-weight: bold;
}

nav ul a:hover {
  text-decoration: underline;
}

section {
  padding: 60px 20px;
  max-width: 1000px;
  margin: auto;
  animation: fadeIn 1.2s ease-in;
}

h1 {
  margin-bottom: 15px;
  color: black;
}

p {
  line-height: 1.6;
  margin-top: 10px;
}

.home-box {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 40px;
}

.profile img {
  width: 220px;
  height: 220px;
  border: 4px solid black;
  border-radius: 50%;
  object-fit: cover;
  transition: transform 0.4s;
}

.profile img:hover {
  transform: scale(1.1);
}

.resume-btn {
  display: inline-block;
  margin-top: 15px;
  padding: 10px 15px;
  background: rgb(146, 146, 146);
  border-radius: 12px;
  text-decoration: none;
  color: black;
}

.resume-btn:hover {
  background: rgb(0, 0, 0);
  color: rgb(255, 255, 255);
}

.Skills {
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
  margin-top: 15px;
}

.skill-box {
  background: white;
  padding: 10px 15px;
  border-radius: 20px;
  border: black solid thin;
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.1);
  transition: transform 0.3s;
}

.skill-box:hover {
  transform: scale(1.1);
}

.projects {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  gap: 20px;
}

.project-card {
  background: rgb(255, 255, 255);
  padding: 20px;
  border-radius: 15px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
  transition: transform 0.3s;
}

.project-card:hover {
  transform: translateY(-8px);
}

.contact-icons {
  font-size: 28px;
  color: black;
  transition: transform 0.3s, color 0.3s;
}

.contact-icons a {
  font-size: 28px;
  color: black;
  transition: transform 0.3s, color 0.3s;
}

.contact-icons a:hover {
  transform: scale(1.2);
  color: #006eff;
}
 footer {
    background: #0a2540;
    color: white;
    text-align: center;
    padding: 20px;
    margin-top: 50px;
  }

  @keyframes fadeIn {
    from {
      opacity: 0;
      transform: translateY(30px);
    }
    to {
      opacity: 1;
      transform: translateY(0);
    }
  }

@media (max-width: 768px) {

  nav {
    flex-direction: row;
    align-items: center;
  }

  nav ul {
    flex-direction: column;
    gap: 10px;
    margin-top: 10px;
    padding: 0;
  }

  .home-box {
    flex-direction: column;
    text-align: center;
  }

  .profile img {
    width: 180px;
    height: 180px;
    margin-top: 20px;
  }

  .Skills {
    justify-content: center;
  }
.contact {
    display: flex;
    justify-content: center;
}
  .contact-icons {
    display: flex;
    justify-content: center;
    gap: 20px;
  }
}
